
<h1 class="h2 d-flex align-items-center justify-content-center mb-4">Simple component with picture and some information</h1>

<div class="container d-flex align-items-center justify-content-center mb-4">
  <img src="../assets/images/mainPic.jpg" alt="The image has't loaded properly" height="400" >
</div>


<div class="container d-flex align-items-center justify-content-center">
  <div class="row  d-flex align-items-center justify-content-center ">
    <div class="col-md-4">
      <p>This is my first Angular project from scratch.</p>
    </div>
    <div class="col-md-4">
      <p>It uses json-server. The whole database is in db.json file. the server is running at http://localhost:3000</p>
    </div>
  </div>
</div>